
*{
    box-sizing: border-box;
    padding:0;
    /* margin-left:50px; */
    /* background-color: rgb(17, 17, 17); */
    

}

h1{
    color: #00ff00;
    font-family: monospace;
    margin-top: 100px;
}

input{
    border: 1px solid rgb(94, 94, 94);
    font-size: larger;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    color: #00ff00;
    /* padding-left: 10px; */
}
input::placeholder{
    font-style: italic;
    opacity: 50%;
    padding-left: 10px;
}   

input:focus{
    outline: none;
    border: #00ff00 1px solid;
    /* background: rgb(56, 56, 56); */
}



button{
    width: 200px;
    height: 40px;
    color: gray;
    opacity: 50%;
    font-size: medium;
    font-style: italic;
    border-radius: 5px;
    border: black 1px solid;
}

button:hover{
    transition: 0.5s ease ;
    border: #00ff00 1px solid;
    opacity: 100%;
}

button:active{
    background: #00ff00;
    color: black;
}